@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html{
    background-color: aliceblue;
}
.main-section{
    height: 400px;
    width: 340px;
    margin: 100px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 

}
h1{
    text-align: center;
}
p{
    text-align: center;
    padding: 5px;
}

.score-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.score-box{
    display: flex;
    margin: 5px;
    height: 10px;
}
.score-box .label{
    margin-right: 4px;
    
}
.score-box .value{
    font-weight: 400;
}
.selection-section{
    width: 220px;
    height: 140px;
    border: 1px solid rgba(2, 76, 133, 0.53);
    border-radius: 10px;
    margin: 10px auto;
    padding: 25px 10px;
}

.selection-section h3{
    text-align: center;
}
.btn-container{
    display: flex;
    margin: 15px;
    justify-content: space-evenly;
}
.btn-container .btn{
    height: 30px;
    width: 64px;
    padding: 5px 10px;
    margin: 10px ;
    background-color: white;
    border-radius: 10px;
    border: 1px solid  rgb(2, 76, 133);
    color: rgb(2, 76, 133);
    transition: all 0.2s ease-in-out 0s ;
}
.btn-container .btn:hover{
    background: rgb(2, 76, 133);
    color: white;
}
.message{
    text-align: center;
}
.display-none{
    display: none;
    
}
.icon{
    transform: scale(2);
    margin: 8px;
}
.icon-2{
    transform: scale(2);
}